# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXT_PUBLIC_APP_NAME=

DATABASE_URL=

# Generate a random secret here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000 # (only needed for localhost)

# Required for email login
# Get your Resend API Key here: https://resend.com/docs/send-with-nextjs
RESEND_API_KEY=

###############################
###### OPTIONAL ENV VARS ######
###############################

# Stripe – used for subscriptions
# If you don't need this, you can also remove the `lib/stripe` folder and all instances of `stripe` from the codebase
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Used for Google Login
# Learn how to set this up here: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Used for Github Login
# Learn how to set this up here: https://next-auth.js.org/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Used for Google Analytics
# Learn how to set this up here: https://analytics.google.com
GA_TRACKING_ID=